
{% extends 'base.html' %}
{% block content %}

    <!-- main body here-->

    <div class="main-body">
         <div class="body">

          <!-- block body here -->

        <div class="div2">
                  <form class="tutorAssign-form" id="addSubject-form" method="post">
                    {% csrf_token %}
                      <h2>Add Notification</h2>
                      <table class="addsub">
                        <tr>
                          <div class="department">
                            <td> <label for="department">Notification:</label></td>
                            <td>
                              <input type="text" name="notification">

                          </td>
                         </div>
                        </tr>
                        <tr>
                          <div class="department">
                            <td> <label for="department">Choose Type</label></td>
                            <td>
                              <select name="user_type" id="departmentSelect">
                                <option disabled selected>--select Type--</option>
                                <option value="STAFF">Staff</option>
                                <option value="student">Student</option>

                          </td>
                         </div>
                        </tr>

                        
                      </table>
                      <button type="submit" class="addSubject-button">Submit</button>
                </form>
      
              </div> 
         </div> 
  <!-- ends -->

   </div>

    </div>
      



{% endblock %}
</div>

</div>
  


