
{% extends 'base.html' %}
{% block content %}

        <!-- block body here -->
        <!-- extends -->

<!-- block starts -->

<form action="/viewsub/" class="attendance" style="width: 50%; margin: auto;" method="post">
  {% csrf_token %}
    <button class="add-student-btn"><a href="/addsub/" class="btn"><i class="fas fa-plus"></i> Add Subject</a></button>
  <div class="filter-input sem">
           <label for="branch">Branch:
          <select name="branch" id="branch">
              <option disabled selected>--Branch--</option>
              {% for branch_instance in branch_instances %}
              <option value="{{branch_instance.id}}">{{branch_instance.branchname}}</option>
              {% endfor %}
          </select>
      </label>

      <label for="Semester">Semester:
          <select name="semester" id="se">
              <option disabled selected>--Semester--</option>
              {% for semester_instance in semester_instances %}
              <option value="{{ semester_instance.id }}">{{ semester_instance.semestername }}</option>
          {% endfor %}
          </select>
      </label>

      <input type="submit" value="view" class="submit">
  </div>
</form>
    
         <!-- attendance display table -->
  <form action="" class="sub-display" style="width: 60%; margin: auto;">
      <table class="display-tbl">
    
            <tr>
              <th>id</th>
                <th>Semester</th>
                <th>Branch</th>
              <th>Subject</th>
              <th>subject code</th>
              <th></th>
            </tr>
            <!-- data here -->
          {% for subject_instance in subject_instances %}
            <tr>

              <td>{{forloop.counter}}</td>
              <td>{{subject_instance.semester.semestername}}</td>
              <td>{{subject_instance.branch.branchname}}</td>

                <td>{{subject_instance.subjectname}}</td>
                <td>{{subject_instance.subjectcode}}</td>
              <td><a class="edit" href="/editsub/{{subject_instance.id}}">edit</a>
              <a class="delete" href="/deletesub/{{subject_instance.id}}">delete</a></td>
            </tr>
          {% endfor %}

      </table>
  </form>

<!-- block ends -->
      </div>

    </div>
{% endblock %}