
{% extends 'base.html' %}
{% block content %}
         
        <!-- block body here -->
        <table class="assign-table">
                <!-- filter dropdown -->
                <thead>    
                   <tr>
                      <th colspan="5" style="text-align: center;"><h3>FEEDBACK</h3></th>
                   </tr>
                    <tr>
                        <th>user</th>
                        <th>feedback</th>
                        {% comment %} <th>Rating</th> {% endcomment %}
                        <th>Date</th>
                        
                    </tr>
                </thead>
                <tbody>
                {% for s in staff_instances %}
                    <tr>
                        <td>{{s.user.Username}}</td>
                        <td>{{s.complaints}}</td>
                    
                        <td>{{s.Date}}</td>
                        

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- ends -->
       </div>

    </div>
{% endblock %}
